@import url("css/breakpoints.css");

body {
  --text-bg: azure;

  background-image: url("imgs/sonic-silver-solid-color-background.jpg");
  background-repeat: round;
}

main {
  --header-height: 40px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgb(0 0 0 / 87%);
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  margin-top: var(--header-height);

  & a {
    color: #06c;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
    display: flex;
    align-items: center;

    & :hover {
      text-decoration: underline;
    }
  }

  & header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0 0 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 1000;

    & nav {
      display: flex;

      & a {
        color: white;
        padding: 10px 20px;
        position: relative;
        align-items: center;
      }

      & a:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        height: 1.2em;
        width: 1px;
        background-color: white;
      }

      & a.active {
        color: #0f0;
        background: none;
      }
    }
  }

  & a:hover {
    color: #535bf2;
  }

  & .container {
    --space-xs: 8px;
    --space-lg: 20px;
    --space-xl: 24px;
    --container-max: 1200px;

    background-color: var(--text-bg);
    max-width: var(--container-max);
    padding: var(--space-lg);
    box-sizing: border-box;
    border: 1px solid rgb(0 0 0 / 8%);
    box-shadow: 0 var(--space-xs) var(--space-lg) rgb(0 0 0 / 50%);
    border-radius: var(--space-xl);
    margin: var(--space-lg) auto 0;
    transition: box-shadow 180ms ease, transform 180ms ease;
    inline-size: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 98vh;

    & .main {
      min-width: 0;
      max-width: 100%;
    }
  }

  & h1,
  & h2,
  & h3,
  & li,
  & p {
    overflow-wrap: anywhere;
    word-break: normal;
    hyphens: auto;
    margin: 0;
  }

  & article {
    margin: 0;
  }
}

@media (--phone) {
  body {
    margin: 0;
  }

  body main .container {
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;

    & article {
      margin: 0;
    }
  }
}
