@import url("../breakpoints.css");

body[location="home"] main .container {
  & img.profile-picture {
    min-width: 0;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 2rem;
  }

  & h2 {
    text-align: center;
    margin: 1rem;
  }

  & nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & a {
      color: black;
    }

    & :hover {
      text-decoration: underline;
    }
  }
}

@media (--phone) {
  body[location="home"] main .container img.profile-picture {
    padding: 0;
    max-width: 300px;
    max-height: 300px;
    align-self: center;
  }
}
