@import url("css/breakpoints.css");

body[location="posts"] main [class^="container "] {
  & h2 {
    margin: 1rem;
  }

  & a {
    display: flex;
    align-items: center;
  }

  & a:hover {
    text-decoration: underline;
  }
}

body[location="posts"] main .container {
  & article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    margin: 2rem;

    & img {
      grid-column: 2;
      place-self: start end;
      width: auto;
      min-width: 0;
      max-width: 100%;
    }

    & > :not(img) {
      grid-column: 1;
      min-width: 0;
    }
  }
}

@media (--phone) {
  body[location="posts"] main .container {
    padding: 0;

    & article {
      display: flex;
      flex-direction: column;
      margin: 0 0 2rem;
      gap: 0;

      & h2 {
        order: 0;
      }

      & img {
        order: 1;
      }

      & p {
        order: 2;
      }

      & a {
        order: 3;
      }
    }
  }
}
