/* * {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
} */

/* html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("../images/backgroundtexture.jpg");
  background-repeat: round;
}

body[location="resume"] div.header {
  border-bottom: solid 2px rgb(0, 0, 0);
}

body[location="resume"] div.container .header .meta {
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}


body[location="resume"] div.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 40px;
}

body[location="resume"] div.intro {
  display: flex;
  margin: 20px min(40px, calc((100% - 1100px) / 2));
}

body[location="resume"] div.main {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  flex-grow: 1;
}

body[location="resume"] div.container .main aside {
  background-image: url("../images/contactbackground.jpg");
  color: lightcyan;
}

body[location="resume"] div.container .main aside section div.contact-item a {
  color: lightcyan;
}

body[location="resume"] aside section {
  margin-bottom: 70px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

body[location="resume"] aside section ul {
  list-style-type: none;
  padding-left: 0;
}

body[location="resume"] aside section:last-child {
  margin-bottom: 0;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main section {
  margin-bottom: 50px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

main section article {
  margin: 10px 0px;
}

main section article div.meta {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

h2 {
  text-transform: uppercase;
} */
