name: CD Pipeline

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
    pull_request:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      PYTHONUNBUFFERED: 1
    environment:
      name: ${{
        (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) && 'production' ||
        (github.event_name == 'push' && github.ref == 'refs/heads/main') && 'quality-assurance' ||
        (github.event_name == 'pull_request' && github.base_ref == 'refs/heads/main') && 'development' ||
        ''
      }}
      ENV: ${{ 
        (github.job.environment.name == 'production' && 'prod') ||
        (github.job.environment.name == 'quality-assurance' && 'qa') ||
        (github.job.environment.name == 'development' && 'dev') ||
        ''
      }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -qr render_data/requirements.txt

      - name: Run render_data/tasks.py
        run: python render_data/tasks.py

      - name: Create Ansible Vault password file
        env:
          ANSIBLE_VAULT_PASSWORD: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
        run: |
          echo "$ANSIBLE_VAULT_PASSWORD" > .vault_pass
          chmod 600 .vault_pass

      - name: Deploy base infrastructure
        run: env=$ENV aws/bin/deploy-base-infrastructure --vault-password-file .vault_pass

      - name: Deploy frontend
        run: env=$ENV aws/bin/deploy-frontend --vault-password-file .vault_pass

      - name: Build and upload frontend
        run: env=$ENV aws/bin/build-n-upload-frontend --vault-password-file .vault_pass

      - name: Deploy backend view counter
        run: env=$ENV aws/bin/deploy-backend-view-counter --vault-password-file .vault_pass

      - name: Remove Ansible Vault password file
        run: rm .vault_pass
